body {
  margin: 0;
  padding: 0;
}
.home {
  background-image: url('https://assets.trainline.eu/assets/images/open-home/covers/cover-beach-8dc53adfd913bec45958b705ec6369fa.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20%;
}
